{{!-- views / reviews-new --}}

{{!-- button to return home --}}

<p>
    <a href="/"><button class="btn btn-cancel" type="button">HOME</button></a>
</p>

<h1 id="home">Add a New Review</h1>

<form action="/reviews" method="post">
    {{> reviews-form}}

    {{!-- submit new review --}}
    <p>
        <button type="submit">Save Review</button>
    </p>

    {{!-- cancel and return to index --}}
    <p>
        <a href="/"><button class="btn btn-cancel" type="button">CANCEL</button></a>
    </p>
</form>