{{!-- views/reviews-edit.handlebars --}}

{{!-- button to return home --}}

<p>
    <a href="/"><button class="btn btn-cancel" type="button">HOME</button></a>
</p>

<h1 id="home">Edit this Review</h1>

<form action="/reviews/{{review._id}}?_method=PUT" method="post">
    {{> reviews-form}}

    {{!-- submit edited review --}}
    <p>
        <button type="submit">Save Review</button>
    </p>

    {{!-- cancel and return to index --}}
    <p>
        <a href="/"><button class="btn btn-cancel" type="button">CANCEL</button></a>
    </p>
</form>