{{!-- views/reviews-edit.handlebars --}}

{{!-- button to return home --}}

<p>
    <a href="/"><button class="btn btn-cancel" type="button">HOME</button></a>
</p>

<form action="/reviews/{{review._id}}?_method=PUT" method="post">
    <fieldset>
        <legend>Edit Review</legend>

        {{!-- review title --}}
        <p>
            <label for="review-title">Title</label><br />
            <input id="review-title" type="text" name="title" value="{{review.title}}" />
        </p>

        {{!-- movie title --}}
        <p>
            <label for="movie-title">Title</label><br />
            <input id="movie-title" type="text" name="movieTitle" value="{{review.movieTitle}}" />
        </p>

        {{!-- review description --}}
        <p>
            <label for="review-description">Review Details</label><br />
            <textarea name="description" id="review-description" cols="30" rows="10">{{review.description}}</textarea>
        </p>
    </fieldset>

    {{!-- submit edited review --}}
    <p>
        <button type="submit">Save Review</button>
    </p>

    {{!-- cancel and return to index --}}
    <p>
        <a href="/"><button class="btn btn-cancel" type="button">CANCEL</button></a>
    </p>
</form>