{{!-- reviews-index --}}
<h1 id="home">All Reviews</h1>

<section class="new-review">
    <h1 class="section__title section__title--new-review">Create a new review and add it to the list.</h1>
    <p class="section__subtitle section__subtitle--new-review">
        <a href="/reviews/new" class="new-review__link">Add New Review</a>
    </p>

</section>

{{#each reviews}}

<h3>{{ this.title }}</h3>
<small>{{ this.movieTitle }}</small>

{{/each}}